appdirs==1.4.4
asgiref==3.3.1
autopep8==1.5.7
black==21.6b0
click==8.0.1
colorama==0.4.4
Django==3.1.4
django-cors-headers==3.6.0
django-reversion==3.0.9
djangorestframework==3.12.2
mypy-extensions==0.4.3
pathspec==0.8.1
Pillow==8.0.1
psycopg2==2.8.6
pycodestyle==2.7.0
pytz==2020.4
regex==2021.4.4
sqlparse==0.4.1
toml==0.10.2
